<header>
    <div class="h-100 d-flex align-items-center bg-secondary shadow-sm px-3">
        <p class="m-0" style="color: rgba(255, 255, 255, 0.7);">BASIC GRILL &middot; SINCE 1400</p>
    </div>
</header>



<main class="container-fluid">
    <div class="row h-100">
        <div class="col-5 col-sm-4 col-md-3 col-xl-2 p-3 h-100 d-flex flex-column border-right">
            <div class="mb-4 d-flex flex-column">
                <input id="inputCreateBurger" type="list" list="listBurgers" class="form-control rounded-0"
                    placeholder="Request a burger">
                <datalist id="listBurgers">
                    <option value="Angus Beef Burger">
                    <option value="Black Bean Burgers">
                    <option value="Wild Salmon Burgers">
                    <option value="Veggie Burgers">
                    <option value="Portobello Mushroom Burgers">
                    <option value="Elk Burgers">
                    <option value="Bacon Cheeseburger">
                </datalist>
                <button id="buttonCreateBurger" class="btn btn-success rounded-0">CREATE</button>
            </div>





            <p class="m-0 mb-2 pl-3 text-muted"><b>Quick Order</b></p>
            <div class="list-group list-group-flush border rounded mt-0 overflow-auto">
                <p class="m-0 p-0 list-group-item text-center small bg-light text-dark border-0">TOP</p>
                <div id="burgerButtons">
                    {{!-- <button class="list-group-item list-group-item-action py-2 px-3">Angus Beef
                        Burger</button> --}}
                </div>
                <p class="m-0 p-0 list-group-item text-center small bg-light text-dark">BOTTOM</p>
            </div>
        </div>






















        <div class="col p-3 h-100">
            <div class="container px-3 h-100 d-flex flex-column">
                <!-- delivered burgers -->
                <h6 id="burgersDeliveredHeading" class="mb-2">Delivered Burgers</h6>
                <div id="burgersDelivered" class="row overflow-auto border rounded pt-3">

                    <!-- <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-3">
                        <div class="card p-3 overflow-hidden shadow-sm">
                            <h5>Angus Beef Burger Lorem ipsum dolor sit amet.</h5>
                            <p class="small text-muted text-truncate">Made 4 days ago</p>
                            <button class="btn btn-secondary text-truncate">EAT</button>
                        </div>
                    </div> -->

                </div>




                <!-- eaten burgers -->
                <h6 id="burgersEatenHeading" class="mb-2 d-none">Eaten Burgers</h6>
                <div id="burgersEaten" class="row overflow-auto border rounded pt-3 d-none">

                    <!-- <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-3">
                        <div class="card p-3 overflow-hidden shadow-sm">
                            <h5>Angus Beef Burger Lorem ipsum dolor sit amet.</h5>
                            <p class="small text-muted text-truncate">Eaten 4 days ago</p>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</main>





<footer>
    <div class="p-2 h-100 d-flex bg-secondary shadow-sm">
        <button id="buttonDelivered" class="ml-auto mr-2 btn btn-dark">Delivered</button>
        <button id="buttonEaten" class="btn btn-dark">Eaten</button>
    </div>
</footer>


<script src="/assets/js/index.js"></script>